create-account.flex.h-full.flex-col
  div.mx-auto.mt-48.text-white.font-bold.text-2xl
    span Welcome to Inventory Management App
  div.mx-auto.mt-7.text-white.text-base
    form(action="create-account" method='POST') 
      div.mx-auto.w-60.font-bold.flex
        span.ml-10 Create a new account:
      label.flex.mx-auto.w-56.mt-3(for="username")
        img.mr-3.w-5(class="icon-b-to-w" src='/images/icon_person.svg' alt='Icon Person')
        input.bg-white.border-2.rounded.w-44.text-gray-800.text-sm(class="border-[#50aaff81] hover:border-[#50ABFF] focus:border-[#50ABFF] p-[2px]" id="username" name="username" type="text" placeholder="Username" max="32" required) 
      label.flex.mx-auto.w-56.mt-3(for="password")
        img.mr-3.w-5(class="icon-b-to-w" src='/images/icon_key.svg' alt='Icon Key')
        input.bg-white.border-2.rounded.w-44.text-gray-800.text-sm(class="border-[#50aaff81] hover:border-[#50ABFF] focus:border-[#50ABFF] p-[2px]" id="password" name="password" type="password" placeholder="Password" max="128" required) 
      label.flex.mx-auto.w-56.mt-3(for="password-confirm")
        img.mr-3.w-5(class="icon-b-to-w" src='/images/icon_key.svg' alt='Icon Key')
        input.bg-white.border-2.rounded.w-44.text-gray-800.text-sm(class="border-[#50aaff81] hover:border-[#50ABFF] focus:border-[#50ABFF] p-[2px]" id="password-confirm" type="password" placeholder="Confirm Password" max="128" required) 
      label.w-40.flex.mt-6.mx-auto(for="create-account")
        input.w-40.mx-auto.text-base(class="button-type3 h-[38px]" id="create-account" type="submit" value="Create Account")
    div.flex.mt-3
      span.mx-auto Or 
        a.underline(href="/") Sign In
    if(nameTakenError === true)
      div.text-red-600.font-bold.text-center.mt-3 Username unavailable

script.
  document.addEventListener("DOMContentLoaded", function() {
  const passwordInput = document.getElementById("password");
  const confirmPasswordInput = document.getElementById("password-confirm");

  // Function to compare passwords and update feedback
  function validatePassword() {
    const password = passwordInput.value;
    const confirmPassword = confirmPasswordInput.value;

    if (password === confirmPassword) {
      confirmPasswordInput.setCustomValidity("");
    } else {
      confirmPasswordInput.setCustomValidity("Passwords do not match");
    }
  }

  // Add event listeners to both password inputs
  passwordInput.addEventListener("change", validatePassword);
  confirmPasswordInput.addEventListener("keyup", validatePassword);
  });
