footer.flex(class="h-[24px] max-h-[24px] mt-[-24px]")
  span.mt-auto.mb-2.text-xs.text-white.ml-2 Website by 
    <a class="relative underline" href="https://github.com/LQ85i">LQ-85i</a>
  span.mt-auto.mb-2.text-xs.text-white.mx-auto This is not a real product, all data expires after 24 hours.
  span.mt-auto.mb-2.text-xs.text-white.mr-2 
    <a class="relative underline" href="https://github.com/LQ85i/inventory-app">Source code</a>
