header.z-10.flex.h-24.text-white.font-bold.text-lg(class="header-gradient header-shadow")
    span.self-center.ml-10(class="hover:cursor-pointer hover:ring" onclick=`window.location.href="/"`) Inventory Management App
    span.self-center.ml-auto(class="text-[#00FFF0]") User 1
    button.self-center.ml-5.mr-5 Sign Out