header.z-10.flex.h-24.text-white.font-bold.text-lg(class="header-gradient header-shadow")
    span.self-center.ml-10(class="hover:cursor-pointer" onclick=`window.location.href="/categories"`) Inventory Management App
    if currentUser
        span.self-center.ml-auto(class="text-[#00FFF0]") #{currentUser.username}
    else 
        span.self-center.ml-auto(class="text-[#00FFF0]") error getting username
    button.self-center.ml-5.mr-5(onclick=`window.location.href="/sign-out"`) Sign Out