doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/styles/style.css')
  body(class="bg-[#353535]").flex.flex-col.h-screen
    include header
    div.flex.h-full
      include sidebar
      if page === "items"
        include items
      else if page === "categories"
        include categories
      else if page === "new-category"
        include new-category
      else if page === "new-item"
        include new-item
      else if page === "edit-category"
        include edit-category
      else if page === "edit-item"
        include edit-item