sidebar.z-0.flex.flex-col.py-2.w-64.h-full.text-white.font-bold.text-base(class="sidebar-gradient")
    div.pl-5.py-3.my-1 Dashboard
    div.pl-5.py-3.my-1(class="sidebar-selection-gradient") Categories
    div.pl-5.py-3.my-1 Settings