@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    background-color: rgba(0, 255, 128, 0.075);
} */


.header-gradient {
    background: linear-gradient(to right, #245792, #245792 20%, #348fff0c);
}

.header-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.397);
}

.sidebar-gradient {
    background: linear-gradient(#1F5A6C, #1F5A6C, #2f90ff0e)
}

.sidebar-selection-gradient {
    background: linear-gradient(to right, #d9d9d92a, #d9d9d90a 80%, #d9d9d900)
}

.icon-b-to-w {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(288deg) brightness(105%) contrast(106%);
}

.button-type1 {
    border: 2px solid #aeb4bb33;
    background-color: #8a8f9418;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

.button-type1:hover {
    background-color: #8a8f9457;
    cursor: pointer;
}

.button-type1:active {
    background-color: #61646857;
}


.button-type2 {
    border: 2px solid #50aaff81;
    background-color: #152e4483;
    border-radius: 0.25rem;
    padding: 0 16px;
}

.button-type2:hover {
    cursor: pointer;
    background-color: #335f8683;
}

.button-type2:active {
    background-color: #23425e83;
    
}